@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

h1 {
  margin-top: 50px;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
}

h2{
  font-family: "Poppins", sans-serif;
}

article {
  width: 90vw;
  margin: auto;
  border-radius: 15px;
  background: rgb(246, 181, 31);
  margin-bottom: 15px;
}
article h2{
  text-align: center;
}

img{
    width: 400px;
    height: auto;
    float: left;
    margin: 10px;
}

p{
    padding: 15px;
}